/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
*/

@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS Reset
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Custom Styles*/
:root {
  --primary-bg-dark: hsl(244, 38%, 16%);
  --primary-bg-main: hsl(233, 47%, 7%);
  --primary-bg-accent: hsl(277, 64%, 61%);
  --text-white: hsl(0, 0%, 100%);
  --text-white-trans: hsla(0, 0%, 100%, 0.75);
  --text-white-trans-1: hsla(0, 0%, 100%, 0.6);
  --text-size: 15px;
}
*,
*:before,
*:after {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* custom font */
body {
  margin: 0;
  font-family: Inter, "Lexend Deca";
  background: var(--primary-bg-main);
  color: var(--text-white-trans);
  font-size: var(--text-size);
  font-weight: 100;
  padding-top: 2rem;
}
h1 {
  line-height: 2rem;
}
p {
  padding-left: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 780px) {
  .card {
    border-bottom-left-radius: 0.33rem !important;
    border-bottom-right-radius: 0.33rem !important;
  }
  .cardheading {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem !important;
    max-width: 15ch !important;
  }
  .cardheading,
  .cardtext {
    text-align: center !important;
  }

  .cardtext {
    font-size: 0.7rem !important;
  }

  .imgoverlay {
    border-top-left-radius: 0.33rem !important;
    border-top-right-radius: 0.33rem !important;
  }

  .stats {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    flex-flow: column wrap !important;
    font-size: 0.6rem !important;
  }
}

.container {
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.card {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: min(50vh, 100vw);
  background-color: var(--primary-bg-dark);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.33rem !important;
  border-bottom-left-radius: 0.33rem !important;
}

.imgcard {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 1;
  filter: brightness(1.25);
}

.imgoverlay {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: min(50vh, 100vw);
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.33rem !important;
  border-bottom-right-radius: 0.33rem !important;
  background-color: var(--primary-bg-accent);
}

.cardheading {
  margin-top: 1.5rem;
  font-size: 1.75rem;
  color: var(--text-white);
  font-weight: 700;
  text-align: left;
  max-width: 20ch;
}
.headingaccent {
  color: var(--primary-bg-accent);
  font-weight: 700;
}
.cardtext {
  padding-top: 2rem;
  line-height: 1.5rem;
  text-align: left;
  font-size: 0.75rem;
  color: var(--text-white-trans-1);
  max-width: 50ch;
}

.stats {
  padding-top: 1rem;
  display: flex;
  font-size: 0.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.15rem;
  flex-direction: row;
  text-align: left;
  flex-flow: wrap;
  text-transform: uppercase;
  color: var(--text-white-trans-1);
}
.statsnumbers {
  color: var(--text-white);
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

.footer {
  text-align: center;
  font-size: xx-small;
}
